body {
  background-color: #000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0px;
}

.App {
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
