body {
  background-color: #000;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: #ebdfd0;
}

a:hover {
  background: #e6c3d1;
  color: #000;
}

a:active {
  background: #e6c3d1;
  color: #000;
}

ul {
  padding-left: 0px;
}

.App {
  padding-left: 5vw;
  padding-right: 5vw;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 1025px) {
  .App {
    width: 30vw;
    height: 100vh;
    overflow-y: scroll;
  }
  .hide-on-mobile {
    display: block;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
